Source: yamui
Priority: optional
Section: admin
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends:
 debhelper (>= 10),
 libpng-dev,
 libdrm-dev
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/yamui
Vcs-Git: https://github.com/gemian/yamui.git
Vcs-Browser: https://github.com/gemian/yamui

Package: yamui
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
Replaces:
Recommends:
Description: Yet Another Minimal UI
 Minimal UI tool for displaying simple graphical indicators.

